@model WebSiteBanHang.Models.SanPham

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout2.cshtml";
    var listMaNCC = ViewBag.ListMaNCC as SelectList;
    var listMaNSX = ViewBag.ListMaNSX as SelectList;
    var listMaLoaiSP = ViewBag.ListMaLoaiSP as SelectList;
}

<script src="~/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("CreateProduct", "ProductManagement", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <h3 style="text-align: center; color: teal"> Create New Product</h3>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.MaSP, "Mã Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MaSP, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TenSP, "Tên Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DonGia, "Đơn Giá", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                        @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NgapCapNhap, "Ngày Cập Nhập", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NgapCapNhap, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.NgapCapNhap, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CauHinh, "Cấu Hình", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CauHinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CauHinh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MoTa, "Mô Tả", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HinhAnh, "Hình Ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input name="HinhAnh" type="file" class="form-control" />
                        <p style="color:red"> @ViewBag.Upload</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SoLuongTon, "Số Lượng Tồn", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                        @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LuotXem, "Lượt Xem", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LuotXem, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                        @Html.ValidationMessageFor(model => model.LuotXem, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LuotBinhChon, "Lượt Bình Chọn", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LuotBinhChon, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                        @Html.ValidationMessageFor(model => model.LuotBinhChon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LuotBinhLuan, "Lượt Bình Luận", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LuotBinhLuan, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                        @Html.ValidationMessageFor(model => model.LuotBinhLuan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SoLanMua, "Số Lần Mua", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SoLanMua, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                        @Html.ValidationMessageFor(model => model.SoLanMua, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Moi, "Mới", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Moi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Moi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaNCC, "Nhà Cung Cấp", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MaNCC", listMaNCC, new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaNSX, "Nhà Sản Xuất", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MaNSX", listMaNSX, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaLoaiSP, "Loại Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MaLoaiSP", listMaLoaiSP, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DaXoa, "Đã Xóa", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DaXoa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DaXoa, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                        @Html.ActionLink("Back to List", "ProductManagement", null, new { @type = "button", @class = "btn btn-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('MoTa');
    });
</script>
